.tribe-event-tags {
    float: left;
    width: 100%;
}

/* .tribe-events-meta-group {
    flex: 1 0 185px;
} */

.tribe-events-meta-group {
    flex: 1 0 240px
}

div.mvoc-event-list-distance {
    float: right;
}

div.mvoc-event-tag-left {
    float: left;
    width:35px; 
    height:35px; 
    margin:1px; 
    padding:1px; 
}

div.mvoc-event-tag-right {
    float: right;
    width:35px; 
    height:35px; 
    margin:1px; 
    padding:1px; 
}

div.mvoc-event-category {
    float: left;
    margin:1px; 
    padding:1px;
}

/* Bring the mobile rendering of the menu to the front */
@media screen and (max-width: 767px) {
    .themonic-nav ul {
        z-index: 99;
    }
}

/* Increase size of the event tags */
.event-icon {
    font-size: large;
}

/* Unconstrians the width of the metadata in the event details pages, without this details wrapped */
.tribe-events-meta-group {
	width: unset;
}

/* Used to get the header of Recent Results to match the styling of Upcoming Events */
h2.tribe-widget {
    font-size: 16px;
    font-weight: normal;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* Hide the subscribe panel/button */
.tribe-events-c-subscribe-dropdown__container div {
    display: none;
}

/* Failed attempts at improving table formatting */
.vertical-align-middle {
	vertical-align: middle;
}

.compact {
	border: 0px none;
	padding: 0px 0px;
}

.no-padding {
	padding: 0px 0px;
}

.no-border {
	border: 0px none;
}

/* Table styling for results page */
.entry-content table {
	font-size: 14px;
}

.entry-content td {
    border: 0px none;
}

.entry-content th {
    border: 0px none;
}

.odd td {
    background-color: rgb(255, 255, 255)
}

.even td {
    background-color: rgb(240, 240, 240)
}